header {
  flex: 1 100%;
  width: 100%;
  height: 100px;
  background-color: #FFB4B0;
  /*position: fixed;*/
}
form.left {
  flex-grow: 1;
  background-color: #4DD7FA;
  margin-bottom: 200px;
}
section.right-box {
  flex-grow: 3;
  background-color:  #FEFAC0;
  margin-bottom: 200px;
}
.flex-item {
  padding: 10px;

}
div.nav {
  display: inline;
  font-size: 20px;

}
nav {
  
  position: fixed;
  /*margin-left: auto;
  margin-right: auto;*/
  /*margin-bottom: 5px;*/
  /*padding: 15px;*/
  background-color: #FFB4B0; 
  /*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/

  }

input {
  display: block;
}
select {
  display: block;
}
div.flex-box {
  padding: 0;
  list-style: none;
  height: 50em;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}
section.genre-right{
  
  display: inline;
  float: right;
  width: 100px;
  margin-right: 62px;
  
  
  }
section.genre-left{
  /*flex-grow: 1;*/
  width: 88px;
  display: inline;
  float: left;
  }
section.genre-left input{
  display: inline;
  padding: 5px;
} 
section.genre-right input{
  display: inline;
  padding: 5px;
} 
/*div#right-box{*/
  /*width: 490px;*/
  /*displa/*y: inline;*/
  /*float: right;*/
  /*border: 2px solid black;*/
  /*background-color:  #FEFAC0;*/
  /*margin-top: 15px;*/
  /*padding-top: 2px;*/
  /*padding-left: 2px;*/
  /*padding-right: 2px;*/
  /*height: 448px;*/
  /*margin-right: 190px;*/
  /*}*/
/*div.right-box ul li h2 {*/
  /*color: #785616*/
/*}*/

ul.song-info li{
  list-style: none;
  display: inline;
  
 /* padding-right: 2px;*/
  /*padding-top: 2px;*/
  
 }
 section.right-box section:nth-child(2n+0) {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #FFF5EE;
}
section.right-box section:nth-child(2n+1) {
  border: 1px solid black;
  border-radius: 10px;
  background-color:#F5FFFA ;
}
section.right-box section:nth-child(1) {
  font-weight: bold;
}

label {
  display: block;
  padding-top: 2px;
  padding-bottom: 5px;
}
section.sub-button{
  margin-top: 10em;
  padding-left: 100px;
}

